//fuente para header
$fuente-header: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$fuente-aviso: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

//fuente para contenido
$fuente-contenido: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

//colores
$color-bg-aviso: #464646;
$color-bg-portada: #99D8E9;
$color-bg-footer: #99D8E9;
$text-color: #464646;
$text-color-aviso: white;
$text-color-footer: white;
$text-color-header: #464646;